<template>
  <button :class="btnclass" @click="click"><slot /></button>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  @Component
  export default class HoButton extends Vue {
    //TODO e.g. danger for colors
    @Prop({ type: String, default: 'secondary' }) variant;

    //eg small
    @Prop({ type: String, default: '' }) size;

    get btnclass() {

      return ['btn', 'btn-' + this.variant, this.size? 'btn-' + this.size : null]
    }

    click(...args) {
      this.$emit('click', ...args)
    }
  }
</script>

<style>
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
  .btn {
    color: #fff;
    background-color: #6c757d;
    display: inline-block;
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
    overflow: visible;
  }
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  /* svg to text alignment */
  .btn .b-icon.bi,
  .dropdown-item .b-icon.bi,
  .dropdown-toggle .b-icon.bi,
  .input-group-text .b-icon.bi,
  .nav-link .b-icon.bi {
    font-size: 125%;
    vertical-align: text-bottom;
  }
  /* .btn .b-icon.bi,
      .dropdown-item .b-icon.bi,
      .dropdown-toggle .b-icon.bi,
      .input-group-text .b-icon.bi,
      .nav-link .b-icon.bi {
        font-size: 125%;
        vertical-align: text-bottom;
      } */
</style>
