<template>
  <span :style="style" v-if="icon == 'arrow-clockwise'">⟳</span>
  <span :style="style" v-else-if="icon == 'arrow-repeat'">⟳</span>
  <span :style="style" v-else-if="icon == 'arrow-left-short'">&lt;</span>
  <span :style="style" v-else-if="icon == 'arrow-right-short'">&gt;</span>
  <span :style="style" v-else-if="icon == 'bullseye'">🎯</span>
  <span :style="style" v-else-if="icon == 'people-fill'">Leute</span>
  <span :style="style" v-else-if="icon == 'person-dash'">-</span>
  <span :style="style" v-else-if="icon == 'person-plus'">+</span>
  <span :style="style" v-else-if="icon == 'skip-backward'">👈</span>
  <span :style="style" v-else-if="icon == 'skip-forward'">👉</span>
  <span :style="style" v-else>{{ "+" }}</span>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  @Component
  export default class HoButton extends Vue {
    @Prop({ type: String, required: true }) icon;
    @Prop({ type: Number, default: 1 }) fontScale: number;

    stuff = "࿊࿋࿌➳ ➫ ⇰⇫⇭➳➽ 📂 💾 ⟳🎯👈👉👏"
    times = '🕛🕧🕐🕜🕑🕝🕒🕞🕓🕟🕔🕠🕕🕡🕖🕢🕗🕣🕘🕤🕙🕥🕚🕦'

    get style() {
      return `font-size:${this.fontScale}rem;`
    }
  }


</script>
<style >
  svg.bi {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .b-icon.bi {
    display: inline-block;
    overflow: visible;
    vertical-align: -0.15em;
  }
</style>