<template>
  <div v-if="show" id="modal" class="modal-outer modal-backdrop fc">
    <div class="fcr modal-dialog modal fade " role="dialog" aria-modal="true">
      <div class="fc modal-content framed">
        <header class="modal-header">
          <slot name="modal-header" />
        </header>
        <div class="modal-body">
          <slot />
        </div>
        <footer class="modal-footer">
          <slot name="modal-footer"></slot>
        </footer>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  @Component
  export default class HoModal extends Vue {

    @Prop({ type: Boolean, default: false }) show;

    // :hide-header="true"
    // :cancel-title="askUsageProps.label"
    // :ok-title="askUsageProps.modifier"

  }
</script>

<style scoped>
  #modal {
    position: absolute;
    z-index: 1040;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .modal-backdrop {
    /* opacity: 0.5; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-50px);
  }

  .modal-dialog.fade {
    opacity: 1;
  }
  .modal-dialog {
    z-index: 1050;
    opacity: 1;
    margin: 1.75rem auto;
    /* position: relative; */
    /* width: auto; */
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal-content {
    /* position: relative; */
    display: flex;
    flex-direction: column;

    width: 100%;
    pointer-events: auto;
    background-color: #fff;
  }

  .modal-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
    flex:1;
  }
  .modal-body {
    /* position: relative; */
    flex: 1 1 auto;
    padding: 1rem;
    justify-content: space-around;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex:1;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
</style>
