<template>
  <div class="spinner framed" :style="`font-size:${fontScale}rem;`">
    <div class="clock">{{ times[idx] }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class HoSpinner extends Vue{

    @Prop({type: Number, default:500}) timeOut : number;
    @Prop({type: Number, default:3}) fontScale : number;

    idx = 0;
    times=['🕛','🕧','🕐','🕜','🕑','🕝','🕒','🕞','🕓','🕟','🕔','🕠','🕕','🕡','🕖','🕢','🕗','🕣','🕘','🕤','🕙','🕥','🕚','🕦']
    timer = 0;

    mounted() {
      console.debug('Spinner mounted');
      this.nextStep();
    }

    nextStep(){
      const self = this;
      self.timer = setInterval(() => { 
        self.idx = self.idx < self.times.length-1 ? self.idx+1 : 0;
      }, this.timeOut);
    }

    beforeDestroy() {
      console.debug('Spinner Destroy');
      
      if (this.timer) {
        clearInterval(this.timer);
        this.timer = 0;
      }
    }
}
</script>

<style >
  .spinner {
    flex:1;
    align-items: center;
    font-family: "Liberation Mono";
  }
  .clock {
    margin : 0.5 em
  }
</style>