﻿<template>
  <div class="fc cricket">
    <popup @cancel="popupCancel" @result="popupResult"  :show="popupShow"  :askUsageProps="askUsageProps" />
    <table id="cricket" v-if="game">
      <!-- Title Row -->
      <thead>
        <tr class="targets">
          <th>
            <div class="fc header">
              <ho-button
                size="sm"
                @click="
                  $router.push({
                    name: 'gameSetup',
                    params: { roomId: roomId }
                  })
                "
              >
                <ho-icon icon="skip-backward" />&nbsp;Teams
              </ho-button>
              <span v-if="game.complete">Spiel Ende</span>
              <span v-else>{{ game.activePlayer.name }}</span>
              <span class="dummy-needed-for-layout"></span>
            </div>
          </th>
          <th
            :key="team.id"
            v-for="team in game.teams"
            :class="classObject(team)"
          >
            <TeamHeader
              :ident="team.id"
              :player="team.nameShort"
              :active="isActiveTeam(team)"
              v-on:finnish="finishPlay(...arguments)"
            />
          </th>
          <!-- Dummy column to consume remaining space -->
          <!-- <th style="width: 100%" /> -->
        </tr>
      </thead>
      <tbody>
        <!-- Target Buttons -->
        <tr v-for="target in targets" :key="target.id" class="targets">
          <td>
            <Field :target="target" v-on:hit="onHit(...arguments)" />
          </td>
          <td
            :key="team.id"
            v-for="team in game.teams"
            :class="classObject(team)"
            @click="isActiveTeam(team) && finishPlay()"
          >
            <cricket-num class="cricket-num" :value="team.stats[target.id]" />
          </td>
        </tr>
        <!-- score row -->
        <tr class="targets">
          <td>Score</td>
          <td
            :key="team.id"
            v-for="team in game.teams"
            :class="classObject(team)"
          >
          <div class="fc hitlist">
            <div class="single">{{ team.score }}</div>
          </div>
          </td>
        </tr>
        <!-- Undo  -->
        <tr class="targets">
          <td>
            <div class="fc field">
              <div class="triple enabled" @click="undoLastHit(1)">
                Zurück 1x
              </div>
              <div class="triple enabled" @click="undoLastHit(3)">
                Zurück 3x
              </div>
            </div>
          </td>
          <!-- hitlist -->
          <td
            :key="team.id"
            v-for="team in game.teams"
            :class="classObject(team)"
          >
          <div class="fc hitlist">
            <span
              v-for="(hit, index) in team.activeHits"
              :key="index"
              :class="[classHit(hit)]"
              >{{ hit.target.label }}</span>
              </div>
          </td>
        </tr>
        <!-- Stats -->
        <tr class="targets">
          <td>Nixen / Fahrkarten</td>
          <td
            v-for="team in game.teams"
            :key="team.id"
            :class="classObject(team)"
          >
           <div class="fc hitlist">
            <div>{{ team.stats["miss"] }}&nbsp;/&nbsp;{{ team.ticket }}</div>
           </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
  //import Vue from 'vue'
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import TeamHeader from "@/components/TeamHeader.vue";
  import Field from "@/components//Field.vue";
  import { CricketPopup, IAskUsageProps } from "@/components/CricketPopup.vue";
  import CricketNum from '@/components/CricketNums0123.vue'
  import { Hit, IGame, IHitBackend, IPlayer, ITeam, IRoom, Modifier } from '@/model'

  @Component<Cricket>({
    components: { TeamHeader, Field, CricketNum, Popup: CricketPopup },
  })
  export default class Cricket extends Vue {

    //Property
    @Prop({ default: null, type: String, required: true }) roomId: string;

    //data
    askUsageProps: IAskUsageProps = {
      onSingle: () => { },
      onSpecial: () => { },
      label: '',
      modifier: '',
    };

    //computed
    get state() {
      return this.$store.state;
    }
    get room() {
      return this.state.room as IRoom;
    }
    get game() {
      return this.room?.game as IGame;
    }
    get team() {
      return this.game?.teams[this.game.activeTeamNr] as ITeam;
    }
    get player() {
      return this.game?.activePlayer as IPlayer;
    }
    get targets() {
      return this.game?.targets.filter(t => t.id != 'miss');
    }

    //popup methods
    popupShow = false;
    askUsage() {
      console.log('askUsage');
      
      this.popupShow = true;
    }
    popupCancel() {
      this.popupShow = false;
    }
    popupResult(res :string) {
      this.popupShow = false;
      if (res =="single") this.askUsageProps.onSingle()
      if (res =="special") this.askUsageProps.onSpecial()
    }

    //methods
    onHit(hit: Hit) {
      if (this.game.complete) return;
      const team: ITeam = this.team;

      if (hit.modifier == Modifier.single) {
        // direkt weiter
        this.process(this.player, hit, hit.target.id, 1)
      } else {
        //double resp. triple is complete
        const dtComplete =
          this.game.teams.map<number>(t => t.stats[hit.modifierStr()]).reduce<boolean>((prev, curr) => prev && (curr >= 3), true);
        //single is complete
        const singleComplete =
          this.game.teams.map<number>(t => t.stats[hit.target.id]).reduce<boolean>((prev, curr) => prev && (curr >= 3), true);
        console.debug('onHit', { singleComplete, dtComplete });

        //init dialog
        this.askUsageProps.label = '' + hit.modifier + 'x' + hit.target.label;
        this.askUsageProps.modifier = Modifier[hit.modifier];
        this.askUsageProps.onSingle = () => this.process(this.player, hit, hit.target.id, hit.modifier);
        this.askUsageProps.onSpecial = () => this.process(this.player, hit, Modifier[hit.modifier], 1);

        if (!dtComplete && !singleComplete) {
          this.askUsage()
        } else if (!singleComplete) {
          this.askUsageProps.onSingle();
        } else if (!dtComplete) {
          this.askUsageProps.onSpecial();
        } else {
          //use it like what ?
          this.askUsageProps.onSingle();
        }
      }

    }
    process(p: IPlayer, hit: Hit, usageId: string, count: number): void {
      const hitb: IHitBackend = {
        playerId: p.id,
        targetId: hit.target.id,
        modifier: Modifier[hit.modifier],
        usageId: usageId,
      }
      this.$store.roomCmd.sendHit(hitb)
    }
    finishPlay(): void {
      if (this.game.complete) return;
      this.$store.roomCmd.finishPlay(this.player.id)
    }
    undoLastHit(cnt): void {
      this.$store.roomCmd.sendUndo(cnt)
    }

    classObject(tt: ITeam) {
      if (tt.winner)
        return 'winner-team';
      return tt === this.team && !this.game.complete ? 'active-team' : 'inactive-team';
    }
    classHit(hit: Hit) {
      return hit.modifier
    }
    isActiveTeam(tt: ITeam) {
      return tt === this.team ? true : false;
    }
  }


</script>

<style>
  .cricket.fc {
    min-width: 100%;
    align-items: stretch;
    flex-direction: column;
    overflow: auto;
  }

  .cricket table {
    flex: 1;
    /* font-size: 1.2rem; */
    line-height: 1.5rem;
    /* padding: 5px; */
    text-align: center;
    background: #1e1e1e;
    color: whitesmoke;
    table-layout: auto;
    border-collapse: collapse;
  }
  .cricket table th {
    white-space: nowrap;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
  }
  .team-header {
    min-width: 2rem;
    background-color: #007bff;
    border-radius: 0.25em;
    margin: 5px;
  }
  .field {
    margin: 0;
    justify-content: space-around;
  }
  .hitlist {
    margin: 0;
    justify-content: center;
  }
  .cricket thead th {
    border-bottom: 1px solid whitesmoke;
    width: 1%;
  }
  /* shape a block of 3 rows */
  .cricket tbody tr:nth-child(3n) td {
    border-bottom: 1px solid whitesmoke;
  }
  .cricket tbody tr td {
    border-bottom: 1px solid transparent;
  }
  .targets {
    /* Make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
  }

  .field .single,
  .field .double,
  .field .triple, 
  .hitlist .single,
  .hitlist .double,
  .hitlist .triple
  {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    border-radius: 0.25em;
  }
  .field .single,
  .field .double,
  .field .triple {

    flex: 1;
    max-width: 10rem;
    min-width: 2rem;
    /* margin: 0.2rem; */
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .hitlist .single,
  .hitlist .double,
  .hitlist .triple
  {
    flex: 0;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .targets .single.enabled,
  .targets .hitlist .single {
    background-color: #007bff;
  }
  .targets .double.enabled,
  .targets .hitlist .double,
  .popup .double {
    background-color: #29be0d;
  }
  .targets .triple.enabled,
  .targets .hitlist .triple,
  .popup .triple {
    background-color: #d90801;
  }
  .popup .triple,   .popup .double { 
    border: none;
  }
  .targets .single.enabled:hover,
  .team-header.enabled:hover {
    cursor: pointer;
    background-color: rgb(109, 107, 228);
  }
  .targets .double.enabled:hover {
    cursor: pointer;
    background-color: #afffa1;
  }
  .targets .triple.enabled:hover {
    cursor: pointer;
    background-color: #ce726f;
  }

  td.active-team {
    cursor: pointer;
    background-color: rgba(85, 107, 47, 0.473);
  }
  td.inactive-team {
    font-style: italic;
    color: lightgray;
  }
  .winner-team {
    background-color: rgb(132, 146, 3);
  }
</style>