<template>
  <div v-if="room" class="fc page">
    <popup @cancel="popupCancel" @result="popupResult" :show="popupShow" />
    <div class="fc header">
      <ho-button
        size="sm"
        class="mb-2"
        @click="
          $router.push({ name: 'roomSetup', params: { roomId: room.id } })
        "
      >
        <ho-icon icon="skip-backward" />&nbsp;Raum
      </ho-button>
      <div>
        <h3 class="page-title">Team-Bildung im Raum {{ room.id }}:</h3>
      </div>
      <ho-button
        size="sm"
        class="mb-2"
        @click="gameStart()"
        :disabled="!gameStartAllowed"
      >
        Spiel &nbsp;
        <ho-icon icon="bullseye" />
      </ho-button>
    </div>
    <div v-if="room.game">
      <div
        class="fc players framed"
        v-if="room && room.availablePlayers && room.availablePlayers.length"
      >
        <div class="fc header framed">
          <h4>Spieler im Raum</h4>
          <ho-button size="sm" class="mb-2" v-on:click="askNumteams"
            >Spiel Reset</ho-button
          >
        </div>
        <div
          class="player framed"
          :key="player.id"
          @click="joinTeam(selectedTeamId, player.id)"
          v-for="player in room.availablePlayers"
        >
          <ho-icon icon="person-plus" />
          &nbsp;
          {{ player.abbrevation }} :
          {{ player.name }}
        </div>
      </div>
      <div class v-else>
        <ho-button size="sm" class="mb-2" v-on:click="askNumteams"
          >Spiel Reset</ho-button
        >
      </div>
      <div class="fc teams">
        <div
          class="fc players framed"
          v-for="(team, index) in room.game.teams"
          :key="index"
        >
          <div class="fc header" @click="selectedTeamNr = index">
            <input
              :id="'team-' + team.id"
              :value="index"
              type="radio"
              v-model="selectedTeamNr"
            />
            <h4 :for="'team-' + team.id">Team {{ team.id }}</h4>
          </div>
          <div
            class="player framed"
            :key="player.id"
            @click="leaveTeam(team.id, player.id)"
            v-for="player in team.players"
          >
            <ho-icon icon="person-dash" />
            &nbsp;
            {{ player.abbrevation }}
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <ho-button size="sm" class="mb-2" v-on:click="askNumteams"
        >Neues Spiel</ho-button
      >
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import { IRoom } from '@/model'
  //import Store from '@/store'
  import Popup from "@/components/NewGamePopup.vue";

  @Component({
    components: { Popup }
  })
  export default class GameSetup extends Vue {
    //Poperties
    //@Prop() target: { type: String, default: '' }
    @Prop(String) readonly roomId: string

    //data
    selectedTeamNr: number = 0
    // popupProps: IPopupProps = {
    //   startNewGame: () => { },
    // }
    popupShow = false;

    //computed
    get room() {
      return this.$store.state.room as IRoom
    }
    get selectedTeamId() {
      return this.room.game?.teams[this.selectedTeamNr].id
    }
    get gameStartAllowed() {
      //check for empty teams
      if (!this.room || !this.room.game) return false;
      for (const t of this.room.game.teams)
        if (t.players?.length == 0) return false
      return true;
    }

    //methods
    askNumteams() {
      this.popupShow = true;
    }
    popupCancel() {
      this.popupShow = false;
    }
    popupResult(n) {
      this.popupShow = false;
      this.startNewGame(n)
    }

    gameStart() {
      this.$router.push({ name: "cricket", params: { roomId: this.roomId } })
    }
    startNewGame(nrOfTeams) {
      this.selectedTeamNr = 0;
      return this.$store.roomCmd.newGame(nrOfTeams);
    }
    joinTeam(teamId, playerId) {
      return this.$store.roomCmd.joinTeam(teamId, playerId)
    }
    leaveTeam(teamId, playerId) {
      return this.$store.roomCmd.leaveTeam(teamId, playerId)
    }

    //life cycle hooks
    mounted() {
      console.log("room mounted:" + this.roomId)
      // this.popupProps.startNewGame = (n) => this.startNewGame(n)
    }

  }

</script>

<style scoped>
  .page.fc div {
    margin: 0.5rem;
  }
  .page {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header > * {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .25em;
  }
  .teams {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .players {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .player {
    cursor: pointer;
    background: lightyellow;
  }
  .player:hover {
    border-color:  black;
  }
</style>