<template>
  <div class="dart-board" v-on:click="$router.push({ name: 'lobby' })">
    <dart-board />
  </div>
</template>


<script lang=ts>
import { Vue, Component, Prop } from 'vue-property-decorator'
import DartBoard from '@/components/DartBoard.vue'

 @Component({
    components: {
      DartBoard
    },
  })
  export default class Home extends Vue {  }
</script>

<style scoped>
  .dart-board {
    display: block;
    margin: auto;
    margin-top: 2em;
    max-width: 75%;
  }
</style>