<template>
  <div class="fc page">
    <div class="fc header">
      <div>
        <h3 class="page-title">Wähle einen Raum</h3>
      </div>
      <ho-button size="sm" class="mb-2" v-on:click="triggerLoadOfRooms">
        <ho-icon icon="arrow-repeat" :font-scale="1.5" aria-hidden="true" />
      </ho-button>
    </div>
    <div class="fc rooms framed">
      <div class="header">
        <h4>Räume</h4>
      </div>
      <div
        class="fc room framed"
        :key="room.id"
        @click="selectRoom(room.id)"
        v-for="room in rooms"
      >
        <div>
          <h4>{{ room.id }}</h4>
        </div>
        <div class="player">
          <span v-if="room.players.length">
            {{ room.players.length }} &nbsp; Leute</span>
          <span v-else>Leer</span>
        </div>
      </div>
    </div>
    <div v-if="rooms.length == 0" class="fc spinner">
      <ho-spinner :font-scale="4" />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  @Component
  export default class Lobby extends Vue {
    //computed
    get rooms() {
      return this.$store.state.rooms
    }

    //methods
    triggerLoadOfRooms() {
      return this.$store.getRooms();
    }
    selectRoom(roomId) {
      return this.$router.push({ name: "roomSetup", params: { roomId: roomId } })
    }
    //life cycle
    mounted() {
      return this.triggerLoadOfRooms()
    }
  }

</script>

<style scoped>
  .fc div {
    margin: 0.5rem;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .rooms {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .room {
    align-items: center;
    cursor: pointer;
    background: lightyellow;
  }
  .room:hover {
    border-color: black;
  }
</style>