<template>
  <div class="article">
      <h2>Änderungen</h2>
      <p>Zum Beenden der Wurfeingabe, kann man jetzt überall in die Spalte klicken.</p>
      <p>Dateigröße der App stark reduziert, durch den Verzicht auf Bootstrap. Dadurch hat sich das Layout und die Icons überall geändert</p>
      <p>Caching des Client Browers wurde ermöglicht, das reduziert die Ladezeiten auch deutlich.</p>
      <p>Keep-Alive Pakete verhindern das Zusammenbrechen der Verbindung zum Raum</p>

  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
import HoSpinner from '@/components-global/ho-spinner.vue'

  @Component({components:{HoSpinner}})
  export default class Profile extends Vue {

  }
</script>

<style>
  .article {
    margin : 1em;
    display: block;
  }
  p {
    font-size: 1em;
  }

</style>