<template>
  <div class="fc page" v-if="room">
    <div class="fc header">
      <ho-button size="sm" class="mb-2" @click="$router.push({ name: 'lobby' })">
        <ho-icon icon="skip-backward" />&nbsp;Lobby
      </ho-button>
      <div>
        <h3 class="page-title">{{ room.id }}</h3>
      </div>
      <ho-button
        :disabled="!teamsButtonEnabled"
        size="sm"
        class="mb-2"
        @click="gameSetup()"
      >
        <ho-icon icon="people-fill" />&nbsp;Teams&nbsp;
        <ho-icon icon="skip-forward" />
      </ho-button>
    </div>
    <div class="fc rooms">
      <div class="fc players framed">
        <div class="header">
          <h4>In der Lobby</h4>
        </div>
        <div
          class="player framed"
          :key="player.id"
          @click="joinRoom(player.id)"
          v-for="player in players"
        >
          <ho-icon icon="person-plus" />
          &nbsp;
          {{ player.abbrevation }} :
          {{ player.name }}
        </div>
      </div>
      <div class="fc players framed">
        <div class="header">
          <h4>Im Raum</h4>
        </div>
        <div
          class="player framed"
          :key="player.id"
          @click="leaveRoom(player.id)"
          v-for="player in roomPlayers"
        >
          <ho-icon icon="person-dash" />
          &nbsp;
          {{ player.abbrevation }} :
          {{ player.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import { IPlayer, IRoom } from '@/model';

  @Component({
    components: {}
  })
  export default class RoomSetup extends Vue {
    //Poperties
    @Prop({ default: null, type: String, required: true }) roomId: string

    get room() {
      return this.$store.state.room as IRoom;
    }
    get roomPlayers() {
      const playerCopy = Array.from<IPlayer>(this.room.players);
      return playerCopy.sort((p0, p1) => p0.abbrevation < p1.abbrevation ? -1 : 1)
    }
    get players() {
      var playerIdsInRoom = new Set(this.room.players.map(p => p.id))
      return this.$store.state.players.filter(p => !playerIdsInRoom.has(p.id)).sort((p0, p1) => p0.abbrevation < p1.abbrevation ? -1 : 1)
    }
    get teamsButtonEnabled() {
      return this.room.players.length >= 2;
    }

    triggerLoadOfPlayers() {
      return this.$store.getPlayers()
    }
    joinRoom(playerId) {
      return this.$store.roomCmd.joinRoom(playerId)
    }
    leaveRoom(playerId) {
      return this.$store.roomCmd.leaveRoom(playerId)
    }
    gameSetup() {
      return this.$router.push({ name: 'gameSetup', params: { roomId: this.roomId } })
    }

    mounted() {
      console.log("room mounted:" + this.roomId)
      this.triggerLoadOfPlayers()
    }
  }
</script>

<style scoped>
  .fc div {
    margin: 0.5rem;
  }
  .page {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .rooms {
    flex-direction: row;
    align-items: flex-start;
  }
  /* .players {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    border: 2px solid lightslategrey;
    border-radius: 0.5rem;
  } */
  .player {
    /* flex-grow: 1; */
    cursor: pointer;
    background: lightyellow;
  }
  .player:hover {
    border-color:  black;
  }
</style>