<template>
  <div class="fc">
    <!-- <router-view v-if="!roomWaiting" /> -->
    <router-view  />
    <ho-modal :show="roomWaiting">
      <template v-slot:modal-header>
        Warte auf Nachricht vom Server
      </template>
      <div class="fc">
        <ho-spinner class="fc spinner" />
      </div>
      <template v-slot:modal-footer>
        <ho-button variant="danger" @click="$router.push({ name: 'lobby' })"
          >Lobby</ho-button
        >
      </template>
    </ho-modal>
    <!-- <ho-spinner v-else class="fc spinner" /> -->
    <ho-modal :show="roomClosed">
      <template v-slot:modal-header>
      Verbindung wech
      </template>
      <div class="fc popup">
        <ho-button size="sm" class="mb-2" v-on:click="reconnect()"
          >Neu Verbinden</ho-button
        >
      </div>

      <template v-slot:modal-footer>
        <ho-button variant="danger" @click="$router.push({ name: 'lobby' })"
          >Lobby</ho-button
        >
      </template>
    </ho-modal>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
  import store from '@/store'

  @Component

  export default class RoomView extends Vue {
    @Prop({ default: null, type: String, required: true }) roomId: string

    //data

    //computed
    get roomClosed() {
      return this.$store.state.readyState == WebSocket.CLOSED;
    }
    get roomWaiting() {
      return !this.room;
    }
    get room() {
      return this.$store.state.room;
    }
    //methods
    async reconnect() {
      await this.$store.connectToWebsocket(this.roomId);
    }

    async created() {
      console.log('Entering Room:', this.roomId);
      await this.$store.connectToWebsocket(this.roomId);
    }

    //life cycle
    // beforeRouteEnter(to, from, next) {
    //   // called before the route that renders this component is confirmed.
    //   // does NOT have access to `this` component instance,
    //   // because it has not been created yet when this guard is called!
    //   console.debug('beforeRouteEnter', to.params.roomId);
    //   this.$store.connectToWebsocket(to.params.roomId);
    //   next();
    // }
    beforeRouteUpdate(to, from, next) {
      // called when the route that renders this component has changed,
      // but this component is reused in the new route.
      // For example, for a route with dynamic params `/foo/:id`, when we
      // navigate between `/foo/1` and `/foo/2`, the same `Foo` component instance
      // will be reused, and this hook will be called when that happens.
      // has access to `this` component instance.
      console.debug('beforeRouteUpdate', to.params.roomId);
      this.$store.connectToWebsocket(to.params.roomId);
      next();
    }
    beforeRouteLeave(to, from, next) {
      // called when the route that renders this component is about to
      // be navigated away from.
      // has access to `this` component instance.
      console.debug('beforeRouteLeave', this.roomId);
      this.$store.disconnectFromWebsocket();
      next();
    }
  }


</script>
