<template>
  <span
    v-if="value > 3 || value < 0"
  >{{value}}</span>
  <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <defs>
      <line id="bar" class="item" x1="-45" y1="45" x2="45"  y2="-45" />
      <circle id="cir" class="item" r="43"  />
    </defs>
    <g  transform="translate(50 50)">
      <use v-if="value >= 1 && value <= 3" href="#bar"  />
      <use v-if="value >= 2 && value <= 3" href="#bar" transform="rotate(90)" />
      <use v-if="value >= 3 && value <= 3" href="#cir" />
    </g>
  </svg>
</template>

<script lang="ts">
  import Vue from 'vue'
  export default Vue.extend({
    props: {
      value: { default: 0, type: Number, required: true },
      // color: { default: 0, type: Number, required: true }
    },
    methods: {
      toSvgCol(color: number) {
        return `#${color.toString(16).padStart(6, '0')}`;
      }
    }
  })
</script>

<style scoped>
  svg {
    width: 1em;
    height: 1em;
  }
  line,
  circle {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 14;
    fill: none;
  }
  span {
    font-weight: bold;
    font-size: 0.8rem;
    font-family: sans-serif;
  }
</style>