<template>
  <ho-modal :show="show">
    <template v-slot:modal-header>
      <span>Wie willst du diesen Wurf werten?</span>
    </template>
    <div class="fc popup">
      <div class="fc">
        <ho-button variant="primary" @click="result('single')">{{
          askUsageProps.label
        }}</ho-button>
      </div>
      <div class="fc">
        <ho-button :class="askUsageProps.modifier" @click="result('special')">{{
          askUsageProps.modifier
        }}</ho-button>
      </div>
    </div>
    <template v-slot:modal-footer>
      <ho-button @click="cancel()">Cancel</ho-button>
    </template>
  </ho-modal>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

  export interface IAskUsageProps {
    onSingle(): void
    onSpecial(): void
    label: string
    modifier: string
  }

  @Component
  export class CricketPopup extends Vue {
    //wrong but works somehow
    @Prop({ type: Object }) askUsageProps: IAskUsageProps;
    @Prop({ type: Boolean, default: false }) show;

    result(...args) {
      if (this.show) {
        this.$emit('result', ...args)
      }
    }
    cancel(...args) {
      if (this.show) {
        this.$emit('cancel', ...args)
      }
    }
  }

  export default CricketPopup;
</script>

<style scoped>
  .fc.popup {
    white-space: nowrap;
    justify-content: space-between;
  }

  .fc.popup * {
    margin: 0.25rem;
  }
</style>