<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
    <!-- Center at 0,0 ymax on top -->
    <g transform="scale(1 -1) translate(200 -200)">
      <circle :r="boardRadius" class="black" />

      <!--     360 / 20 = 18° bzw +/- 9° -->
      <g v-for="(item, i) in list" :key="item+'/'+i" :transform="`rotate(${i* - angleDeg})`">
        <g :transform="`translate(0 ${boardRadius-10}) rotate(${flipFac[i] * 180}) translate(0 -6)`">
          <text>{{item}}</text>
        </g>
        <g :transform="`rotate(${angleDeg/2.0})`">
          <g v-for="(radius, ri) in radiuses" :key="item+'/'+i+'/'+radius+'/'+ri">
            <g :class="flavours[i & 1][ri & 1]">
              <path
                :d="`M 0 0 l 0 ${radius}
                A ${radius} ${radius} 18 0 0 ${radius * Math.sin(angleRad)} ${radius * Math.cos(angleRad)} 
                Z`"
              />
            </g>
          </g>
        </g>
      </g>
      <!-- bulls eye -->
      <circle :r="31.8/2.0 + 0.6" class="green" />
      <circle :r="12.7/2.0 + 0.6" class="red" />
    </g>
  </svg>
</template>

<script>
  /*
    Nach der Sport- und Wettkampfordnung[5] des Deutschen Dartverbandes:
        Drahtdurchmesser: 16–18 SWG (entspricht etwa 1,2 bis 1,6 mm)
        Größe des gesamten Bull (Innenmaß) 31,8 mm
        Durchmesser des Doppelbull (Innenmaß) 12,7 mm

        Double- und Triple-Ring (Innenmaß) 8,0 mm
        Entfernung vom äußeren Doppeldraht zum Bull 170,0 mm
        Entfernung vom äußeren Tripledraht zum Bull 107,0 mm
      Entfernung von einem äußeren Doubledraht zum gegenüberliegenden äußeren Doubledraht 340,0 mm
  */
  const defs = {
    list: [20, 1, 18, 4, 13, 6, 10, 15, 2, 17, 3, 19, 7, 16, 8, 11, 14, 9, 12, 5],
    //list: [20,  18, 13,  15, 17,  19,  16,   14, 12, 5],
    flipFac: [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
    radiuses: [170, 170-8-1.2, 107, 107-8-1.2],
    boardRadius: 193,
    flavours: [['red', 'black'], ['green', 'beige']],
  };

  export default {
    data: () => defs,
    computed: {
      angleDeg() {
        return 360.0 / this.list.length;
      },
      angleRad() {
        return 2 * Math.PI / this.list.length;
      },
    },
  }

</script>
<style scoped>
  text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* flip chars back, because we flipped the whole coord system globally*/
    transform: scale(1, -1);
    text-anchor: middle;
    /* dominant-baseline: middle; */
    fill: White;
  }
  path,
  circle {
    stroke: silver;
    stroke-width: 1.2;
  }
  .green {
    fill: green;
  }
  .red {
    fill: red;
  }
  .black {
    fill: rgb(22, 22, 22);
  }
  .beige {
    fill: beige;
  }
</style>