<template>
  <div class="fc field">
    <div
      :class="['single', target.noSingleClick ? null : 'enabled']"
      v-on:click="!target.noSingleClick && onSingleClick('single')"
    >
      {{ target.label }}
    </div>
    <div
      class="double enabled"
      v-if="!target.noExtra || target.bullsEye"
      v-on:click="onSingleClick('double')"
    >
      {{ target.bullsEye ? "DB" : "D" }}
    </div>
    <div
      class="triple enabled"
      v-if="!target.noExtra"
      v-on:click="onSingleClick('triple')"
    >
      T
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import { ITarget, Hit, Modifier } from '@/model'

  @Component
  export default class Field extends Vue {
    @Prop() target: { type: ITarget }

    onSingleClick(modifierId: string) {
      // console.log("Click:" + this.target.id + ":" + modifier)
      const modifier = Modifier[modifierId];
      this.$emit('hit', Object.assign(new Hit(), { target: this.target, modifier }))
    }
  }

</script>
