<template>
  <ho-modal :show="show">
    <template v-slot:modal-header>
      Neues Spiel mit wie vielen Teams?
    </template>
    <template v-slot:default>
      <div class="fc popup">
        <ho-button v-on:click="result(2)">2 Teams</ho-button>
        <ho-button v-on:click="result(3)">3 Teams</ho-button>
        <ho-button v-on:click="result(4)">4 Teams</ho-button>
      </div>
    </template>
    <template v-slot:modal-footer>
      <ho-button variant="danger" @click="cancel">Cancel</ho-button>
    </template>
  </ho-modal>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

  @Component
  export class Popup extends Vue {
    //Poperties
    @Prop({ type: Boolean, default: false }) show;

    result(...args) {
      if (this.show) {
        this.$emit('result', ...args)
      }
    }
    cancel(...args) {
      if (this.show) {
        this.$emit('cancel', ...args)
      }
    }
  }

  export default Popup
</script>

<style scoped>
  .fc.popup {
    white-space: nowrap;
    justify-content: space-between;
  }
  
  .fc.popup * {
    margin: 0.5rem
  }

</style>