﻿<template>
  <div :class="['team-header', active ? 'enabled' : null]" @click="active && $emit('finnish')">
    <span v-if="active"  ><ho-icon icon="arrow-right-short" />{{ player }}<ho-icon icon="arrow-left-short" /></span>
    <span v-else>{{ player }}</span>
  </div>
</template>

<script>
  import { Vue } from 'vue-property-decorator'

  export default Vue.extend( {
    name: 'TeamHeader',
    props: {
      ident: String,
      player: String,
      active: Boolean
    }
  })
</script>

