<template>
  <div class="app">
    <div
      class="framed navbar fc "
      v-if="$router.currentRoute.name !== 'cricket'"
    >
      <a class="nav-link" href="/">HomeOffice Darts</a>
      <router-link class="nav-link" :to="{ name: 'profile' }">News</router-link>
      <router-link class="nav-link" :to="{ name: 'lobby' }">Lobby</router-link>
      <span>V{{ $store.appVer }}</span>
    </div>
    <router-view class="view fc"></router-view>
  </div>
</template>

<script>
  export default {
    name: 'App',
  }
</script>

<style>
  html,
  body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .fc {
    display: flex;
  }
  .fi {
    flex: 1;
  }

  .h3,
  h3 {
    font-size: 1.75rem;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .view {
    width: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .framed {
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: stretch; */
    border: 1px solid #789;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .navbar {
    margin: 0.4em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar a,
  .navbar span {
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.2em;
    padding: 0.2rem 0.5rem;
  }

  .navbar a {
    color: #192b68;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #007a8c;
  }

  .navbar a.router-link-active {
    text-decoration: underline;
  }
</style>
